body{
    color :Orange;
    background-color:blue; 
    text-align : center;
  } 
  img
  {
    border: 10px solid lightgrey;
    border-radius: 20px;
     width:350px;
   
  }
  h3
  {
    color: red;
    font-size: 20px;
    
  }
  a
  {
    font-size: 20px;
    border-style: solid;
    border-color: orange;
    border-width: 2px;
    padding: 10px;  
  
    
  }
  .fact1
  {
    color:red;
    border:2px solid purple; 
    background-color: gray;
    padding:10px;
    border-radius:20px;
  }
  